/* Blue Nile Brand Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: gantari-fallback;
  size-adjust: 100%;
  src: local('Arial');
}

@font-face {
  font-family: lora-fallback;
  size-adjust: 97%;
  src: local('Georgia');
}
